/* redux framework */
body.toplevel_page_wooe_options {
	background-color: #23282d;
}
body.toplevel_page_wooe_options #redux-header,
body.toplevel_page_wooe_options #redux-header {
	background: #0e77e0 !important;
}
body.toplevel_page_wooe_options form.redux-form-wrapper {
	background: #0f1113 !important;
}
body.toplevel_page_wooe_options .redux-sidebar {
	background: #0f1113;
	color: #f4f4f4;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li a {
	color: #fff;
	border-bottom-color: #3c3c3c;
	padding: 15px 4px 15px 14px;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
	background-color: #000000 !important;
	background: #000000 !important;
	text-shadow: 1px 1px #54595d;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.active a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.active a:hover,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild a:hover {
	background-color: #000000 !important;
	background: #000000 !important;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.active a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.active a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild a {
	color: #f7f7f7;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li a:hover {
	background-color: #000000 !important;
	background: #000000 !important;
	color: #777;
	opacity: 1;
	cursor: pointer;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
	background-color: #212121 !important;
}
body.toplevel_page_wooe_options .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .subsection li .redux-group-tab-link-a {
	text-shadow: none;
}
body.toplevel_page_wooe_options .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .subsection li.active a,
body.toplevel_page_wooe_options .redux-container .redux-sidebar .redux-group-menu li .subsection .redux-group-tab-link-li .redux-group-tab-link-a:hover {
	background-color: #111111 !important;
	background: #111111 !important;
	color: #f5f5f5 !important;
}
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a,
body.toplevel_page_wooe_options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
	padding: 10px;
}
body.toplevel_page_wooe_options .redux-container {
	border: 1px solid rgb(60, 67, 74) !important;
}
body.toplevel_page_wooe_options .redux-container #redux-footer,
body.toplevel_page_wooe_options .redux-container #info_bar {
	-webkit-box-shadow: inset 0 1px 0 #000000;
	box-shadow: inset 0 1px 0 #000000;
	background: rgb(21, 21, 21) !important;
}
body.toplevel_page_wooe_options .redux-container #redux-intro-text {
	display: none;
}
body.toplevel_page_wooe_options .redux-container .redux-main {
	background: #0f1113 !important;
	border-left: 1px solid #424242;
}
body.toplevel_page_wooe_options .redux-container .redux-group-tab h2 {
	color: #ffffff;
}
body.toplevel_page_wooe_options .redux-container .redux-group-tab .redux-section-desc {
	color: #dad8d8;
}
body.toplevel_page_wooe_options .redux-container .redux-main .form-table tr th,
body.toplevel_page_wooe_options .redux-container .redux-main .form-table tr td {
	color: #efefef;
}
body.toplevel_page_wooe_options .redux-container .redux-main .form-table tr {
	border-bottom: 1px solid #524e4e;
}
body.toplevel_page_wooe_options .redux-container #redux-footer,
body.toplevel_page_wooe_options .redux-container #info_bar {
	-webkit-box-shadow: inset 0 1px 0 #000000;
	box-shadow: inset 0 1px 0 #000000;
	border-top: 1px solid #232323;
}
body.toplevel_page_wooe_options .redux-container #info_bar {
	border-bottom: 1px solid #585656;
}
body.toplevel_page_wooe_options label.cb-enable,
body.toplevel_page_wooe_options label.cb-disable {
	color: #2f2f2f;
}
body.toplevel_page_wooe_options .redux-container .notice-yellow {
	border-bottom: 1px solid #545454;
	background-color: #2b2b2b;
}
body.toplevel_page_wooe_options .redux-container .form-wrap p,
body.toplevel_page_wooe_options .redux-container p.description {
	margin: 2px 0 5px;
	color: #dadada;
}
body.toplevel_page_wooe_options #wpcontent {
	background-color: rgb(35, 40, 45);
}
body.toplevel_page_wooe_options .redux-section-field > h3 {
	color: #ffffff;
}
body.toplevel_page_wooe_options .redux-container .ui-widget-content {
	background: #333333 !important;
	border: none;
	border-radius: 5px;
	color: #f5f5f5;
}
body.toplevel_page_wooe_options .redux-container .ui-accordion .ui-accordion-header {
	border: none;
	margin-bottom: 0;
	background-color: transparent !important;
	background-image: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body.toplevel_page_wooe_options .redux-container .ui-accordion .ui-accordion-header .ui-icon.ui-icon-plus {
	background-image: url(../images/plus-icon.png);
}
body.toplevel_page_wooe_options .redux-container .ui-accordion .ui-accordion-header .ui-icon.ui-icon-minus {
	background-image: url(../images/minus-icon.png);
}
body.toplevel_page_wooe_options .redux-container .ui-accordion .ui-accordion-header .ui-icon {
	height: 24px;
	width: 24px;
	display: inline-block;
	top: -1.5em;
	background-position: center center;
	background-size: cover;
	position: relative;
	top: 0;
	left: 0;
	margin-top: 0;
}
body.toplevel_page_wooe_options .redux-container .ui-accordion .ui-accordion-header .ui-icon.ui-icon-minus {
	background-image: url(../images/minus-icon.png);
}
body.toplevel_page_wooe_options .redux-container .ui-accordion .ui-accordion-header .ui-icon.ui-icon-plus {
	background-image: url(../images/plus-icon.png);
}
body.toplevel_page_wooe_options span.redux-repeater-header {
	display: inline-block;
	color: #fff;
	text-shadow: none;
	margin-left: 10px;
}

/* button colors */
.toplevel_page_wooe_options .button.button-primary {
	background-color: #0e77e0 !important;
	color: #ffffff;
}
.toplevel_page_wooe_options .button:not(#contextual-help-link):hover {
	opacity: 0.8;
}
body.toplevel_page_wooe_options .redux-main #redux-defaults-section-top,
body.toplevel_page_wooe_options .redux-main #redux-defaults-top,
body.toplevel_page_wooe_options .redux-main #redux-defaults-section-bottom,
body.toplevel_page_wooe_options .redux-main #redux-defaults-bottom,
body.toplevel_page_wooe_options .redux-main .button.remove-image,
body.toplevel_page_wooe_options a.button.deletion.redux-repeaters-remove {
	background-color: #ff0000 !important;
	border: none;
	color: #f5f5f5;
}
body.toplevel_page_wooe_options .redux-main .button.media_upload_button {
	background-color: #0e77e0 !important;
	color: #f5f5f5;
	border: none;
}
body.toplevel_page_wooe_options .redux-main .redux-action_bar input {
	display: inline-block;
	margin-right: 5px;
}
body.toplevel_page_wooe_options .redux-main .redux-action_bar input {
	display: inline-block;
	margin-right: 5px;
}
body.toplevel_page_wooe_options .redux-main .redux-action_bar input:last-child {
	margin-right: 0;
}
body.toplevel_page_wooe_options .redux-container .redux-main .input-prepend i {
	color: #333333;
}
